body{
    background-color: steelblue;
}
#titulo{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
#regras{
    background-color: aliceblue;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
}
/* torres para inserir os discos */
#container_torres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius:10px
}
.torre {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 33%;
    height: 200px;
    margin: 10px;
    border: 2px solid steelblue;
    border-radius: 5px;
    padding: 2px;
}
.torre::after {
    content: "  ";
}


/* discos */
.disco {
    border-radius: 5px;
}
.disco::after {
    content: "#";
}
.dVermelho{ 
    background-color: tomato;
    color: tomato;
    width: 80%;
    height: 20%;
}
.dVerde{ 
    background-color: seagreen;
    color: seagreen;
    width: 65%;
    height: 20%;
}
.dAzul{ 
    background-color: royalblue;
    color: royalblue;
    width: 50%;
    height: 20%;
}
.dAmarelo{ 
    background-color: gold;
    color: gold;
    width: 35%;
    height: 20%;
}
#botao_reset{
    margin: 5px;
    border: none;
    border-radius: 2px;
}
@media (min-width:1020px){
    #container_torres{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}